{
     "功能": {
          "acg": [],
          "反查": [],
          "查询": [],
          "真人": [],
          "私聊获取小号": [],
          "群管": [],
          "获取头像": [],
          "获取小号": []
     },
     "名单": {
          "白名单": [],
          "超管": [],
          "黑名单": []
     },
     "总开关": {
          "#up": true,
          "#水影": true,
          "acg": true,
          "反查": true,
          "查询": true,
          "真人": true,
          "私聊获取小号": true,
          "群管": true,
          "获取头像": true,
          "获取小号": true
     },
     "格式": {
          "小号格式": "[网易小号]\n账户: {}\n密码: {}\n剩余库存: {}"
     },
     "验证": {
          "#up": [],
          "#水影": []
     }
}