{
     "功能": {
          "acg": [],
          "反查": [],
          "查询": [],
          "真人": [],
          "私聊获取小号": [],
          "群管": [],
          "获取头像": [],
          "获取小号": []
     },
     "名单": {
          "白名单": [],
          "超管": [],
          "黑名单": []
     },
     "总开关": {
          "#up": true,
          "#水影": true,
          "acg": true,
          "反查": true,
          "查询": true,
          "真人": true,
          "私聊获取小号": true,
          "群管": true,
          "获取头像": true,
          "获取小号": true
     },
     "格式": {
          "小号格式": "[网易小号]\n账户: {}\n密码: {}\n剩余库存: {}",
          "bedwars": "      起床战争\nID: {}\n段位: {}\n胜率: {}\nK/D值: {}\n总排名: {}\n总场数: {}\n床摧毁数: {}\n弓命中次: {}\n弓命中率: {}\n最终击杀: {}\nMVP次数: {}",
          "skywars": "      空岛战争\nID: {}\n段位: {}\n胜率: {}\nK/D值: {}\n总排名: {}\n总场数: {}\n总击杀数: {}",
          "kitbattle": "     职业战争\nID: {}\n段位: {}\n总排名: {}\nEXP: {}\nK/D值: {}\n死亡次数: {}\n总击杀数: {}",
          "bedwarsxp": "     无限火力\nID: {}\n段位: {}\n胜率: {}\nK/D值: {}\n总排名: {}\n总场数: {}\n床摧毁数: {}\n死亡次数: {}\n总击杀数: {}",
          "uhc": "      极限生存\nID: {}\n段位: {}\n胜率: {}\nK/D值: {}\n总排名: {}\n总场数: {}\n胜利场数: {}\n总击杀数: {}\n死亡次数: {}",
          "pubgdouble": "     吃鸡双人\nID: {}\n段位: {}\nK/D值: {}\n总排名: {}\n总场数: {}\n总伤害: {}\n胜利场数: {}\n总击杀数: {}\n死亡次数: {}",
          "pubgsolo": "     吃鸡单人\nID: {}\n段位: {}\nK/D值: {}\n总排名: {}\n总场数: {}\n总伤害: {}\n胜利场数: {}\n总击杀数: {}\n死亡次数: {}",
          "werewolf": "     狼人杀\nID: {}\n段位: {}\n胜率: {}\n总排名: {}\n总场数: {}\n胜利场数: {}\n总击杀数: {}"
     },
     "验证": {
          "#up": [],
          "#水影": []
     }
}